@model HomeAboutVM





@foreach (var item in Model.Search.Tracks)
{
    <h1>@item.Name</h1>
    <h3>@item.Popularity</h3>
    <h3>@item.Type</h3>
    <h1>@item.Album.Type</h1>
    <img src="@item.Album.Images.First().Url" />
    <h1></h1>
}