@model HomeAboutVM


<style>
    a {
        color: inherit;
        cursor: pointer;
    }

    a:hover {
        color: #191414;
        text-decoration: underline;
    }

    img :hover {
        color: #191414;
    }

    .content {
        margin-bottom: 20px;
    }

        .content img {
            height: 200px;
            width: 200px;
        }

        .content h1 {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .content h3 {
            font-size: 13px;
            margin-bottom: 2px;
        }
</style>

<h1 style="margin-bottom: 1em; text-decoration: underline">Recommended for you</h1>
<div style="display:grid; grid-template-columns: 33.3% 33.3% 33.3%">
    @foreach (var item in Model.Search.Tracks)
    {
        <div class="content">
            <a href="@item.ExternalUrls.Spotify">
                <img src="@item.Album.Images.First().Url" />
                <h1>@item.Name</h1>
            </a>
            <h3>By:</h3>
            @foreach (var artist in item.Artists)
            {
                <a href="@artist.ExternalUrls.Spotify"><h1>@artist.Name</h1></a>
            }
            <h3>Popularity: @item.Popularity</h3>
        </div>
    }
</div>